In [3]:
import pandas

In [4]:
data = [{'name': 'Google'}, {'name': None}]

In [5]:
df = pandas.DataFrame(data)

In [9]:
df.head()

     name
0  Google
1    None

In [18]:
df[df.name.isna()]

   name
1  None