In [8]:
import pandas

In [9]:
data = [{'name': 'Google', 'score': 1}, {'name': None, 'score': 3}]

In [10]:
df = pandas.DataFrame(data)

In [11]:
df = df[df.score > 1]

In [12]:
df

   name  score
1  None      3

In [13]:
df.name.to_list()

[None]